html {
  font-size: 17px;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

body {
  background-image: url(../img/back3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-left: 50px;
  padding-right: 50px;
}